.navbar-custom {
    background-color: #000000;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white;
}

.navbar-custom .nav-link:hover {
    color: #FF0000;
}

.navbar-custom .btn-outline-light {
    border-color: white;
    color: white;
}

.navbar-custom .btn-outline-light:hover {
    background-color: #FF0000;
    color: #FFFFFF;
}

.navbar-custom .navbar-brand {
    margin-left: 20px;
}

.navbar-custom .navbar-nav {
    margin-left: 20px;
}

.navbar-custom .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

@media (max-width: 768px) {
    .navbar-custom .navbar-nav {
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 992px) {
    .navbar-custom .navbar-nav {
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}