.nav-icon {
    margin-right: 10px;
}

.navbar-logo img {
    max-width: 150px;
    height: auto;
    border-radius: 2px;
}

.navbar-mainbg {
    background-color: #081F7C;
    padding: 0px;
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

#navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
}

#navbarSupportedContent ul li a i {
    margin-right: 10px;
}

#navbarSupportedContent ul li {
    margin: 0 5px;
    padding: 25px 15px;
}

#navbarSupportedContent li {
    list-style-type: none;
    float: left;
}

#navbarSupportedContent ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#navbarSupportedContent>ul>li.active>a {
    color: #081F7C;
    background-color: transparent;
    transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
    transform: rotate(90deg);
}

.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
}

.hori-selector .right {
    right: -25px;
}

.hori-selector .left {
    left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #081F7C;
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}

.admin-btn {
    color: rgba(255, 255, 255, 0.5);
}

.admin-btn:hover {
    color: #fff;
}

.admin-btn.admin-active {
    background-color: #ffffff;
    color: #081F7C;
}

.admin-link {
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.admin-link:hover {
    color: #081F7C;
    background-color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.admin-logout {
    display: inline-block;
}

.navbar-btn-mobile {
    margin-right: 10px;
}

@media(min-width: 992px) {
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (max-width: 991px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }

    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }

    .hori-selector .left {
        top: -25px;
        left: auto;
    }

    .hori-selector .right {
        bottom: -25px;
    }

    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }

    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }
}

@media(max-width: 1469px) {
    #navbarSupportedContent ul li {
        margin: 0;
        padding: 20px;
    }

    #navbarSupportedContent ul li a {
        font-size: 18px;
    }

    .navbar-logo {
        padding: 15px;
        font-size: 12px;
        color: #fff;
    }
}

@media(max-width: 1444px) {
    #navbarSupportedContent ul li {
        margin: 0;
        padding: 18px;
    }

    #navbarSupportedContent ul li a {
        font-size: 18px;
    }

    .navbar-logo {
        padding: 15px;
        font-size: 12px;
        color: #fff;
    }
}

@media(max-width: 1416px) {
    #navbarSupportedContent ul li {
        margin: 0;
        padding: 18px;
    }

    #navbarSupportedContent ul li a {
        font-size: 17px;
    }

    .navbar-logo {
        padding: 15px;
        font-size: 12px;
        color: #fff;
    }
}

@media(max-width: 1374px) {
    #navbarSupportedContent ul li {
        margin: 0;
        padding: 16px;
    }

    #navbarSupportedContent ul li a {
        font-size: 16px;
    }

    .navbar-logo {
        padding: 15px;
        font-size: 12px;
        color: #fff;
    }
}

@media(max-width: 1307px) {
    #navbarSupportedContent ul li {
        margin: 0;
        padding: 15px;
    }

    #navbarSupportedContent ul li a {
        font-size: 15px;
    }

    .navbar-logo {
        padding: 15px;
        font-size: 12px;
        color: #fff;
    }
}

@media(max-width: 1252px) {
    #navbarSupportedContent ul li {
        margin: 0;
        padding: 14px;
    }

    #navbarSupportedContent ul li a {
        font-size: 14px;
    }
}

@media(max-width: 1198px) {
    #navbarSupportedContent ul li {
        padding: 12px;
        margin: 0;
    }

    #navbarSupportedContent ul li a {
        font-size: 14px;
    }
}

@media(max-width: 1170px) {
    #navbarSupportedContent ul li {
        padding: 11px;
    }

    #navbarSupportedContent ul li a {
        font-size: 13px;
    }
}

@media(max-width: 1126px) {
    #navbarSupportedContent ul li {
        padding: 10px;
        margin: 0;
    }
}

@media(max-width: 1100px) {
    #navbarSupportedContent ul li {
        padding: 9px;
        margin: 0;
    }
}

@media(max-width: 1086px) {
    #navbarSupportedContent ul li {
        margin: 0;
        padding: 8px;
    }

    #navbarSupportedContent ul li a {
        font-size: 12px;
    }
}

@media(max-width: 1032px) {
    #navbarSupportedContent ul li {
        margin: 0;
        padding: 8px;
    }

    #navbarSupportedContent ul li a {
        font-size: 11px;
    }
}

@media(max-width: 992px) {
    #navbarSupportedContent ul li a {
        font-size: 14px;
    }
}