.service-card {
    height: 400px;
    display: flex;
    flex-direction: column;
}

.service-card-img-top {
    height: 80%;
    object-fit: cover;
}

.service-card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-card-title {
    text-align: center;
}

.service-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.service-button-container .service-btn {
    flex-basis: calc(50% - 5px);
    margin: 0;
    text-align: center;
}

.service-button-container .service-btn:last-child {
    margin-right: 0;
}